.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .divHeader { grid-area: 1 / 1 / 2 / 2; }
    .divApplication { grid-area: 2 / 1 / 3 / 2; }



    .parent2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        }
        
        .divStatus { grid-area: 1 / 1 / 2 / 2; }
        .divStatus{ 
            text-align: center;
            
        }
        .divGame { grid-area: 1 / 2 / 2 / 3; }