.header{
    background-color: rgb(20, 8, 155);
    color: rgb(255, 255, 255);
    text-align: center;
}
  


  
  .container{
    background-image:url(orange\ sprinkle\ background.jpg);
    background-image: 100vh 100vw;
    filter:brightness(120%);
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem ;
  }


.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #7eef81;
}
 
